{% extends 'semester_display_base.html' %}
{% block content %}
<nav id = "navbar" class="navbar navbar-light">
  	<a class="navbar-brand" style = "color: white; font-size: 12px;" href="{% url 'logout' %}">Logout</a>
    <a class="navbar-brand" style = "color: white; font-size: 12px;" href="{% url 'profile' %}?user={{user.username}}">Hello, {{user.username}}</a></p>
</nav>
{% endblock %}
{% block subject_details %}
	<center>
	<div id = "subjects">
	<p>Are you sure you want to delete subject {{subject.subject}} ({{subject.code}}) from semester {{semester.semester_no}}?</p>
	<form method="post" action="{% url 'delete_sub' %}?user={{user.username}}&s_id={{semester.semester_no}}&subject={{subject.subject}}">
		{% csrf_token %}
		<input style = "color: white; font-size: 12px;" class = "btn btn-danger" type="submit" name="action" value="Delete"/>
		<input style = "color: white; font-size: 12px;" class = "btn btn-primary" type="submit" name="action" value="Cancel"/>
	</form>
	</div>
	</center>
{% endblock %}