<!DOCTYPE html>
<style type="text/css">
body
{
    font-size: 12px;
}
.days
{
    float: left;
    margin-left: 80px;
    margin-top: 50px;
}
#navbar
{
    background-color: #2471A3;
}
</style>
<html>
    <head>
    	<!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <title> Routine </title>
    </head>
    <body style="font-size: 12px;">
            {% block content %}
            {% endblock %}

        <center>
    	   {% block routine %}
    	   {% endblock %}
        </center>
    </body>
</html>