{% extends 'subjects.html' %}

{% load staticfiles %}

{% block content %}
	<a class="navbar-brand" style = "color: white; font-size: 12px;" href="{% url 'logout' %}">Logout</a>
	<span style = "color: white; font-size: 12px;" class="navbar-brand"> Hello, <a style = "color: white; font-size: 12px;" href = "{% url 'profile' %}?user={{username}}">{{username}}</a>.</span>
{% endblock %}

{% block subjects %}
	{% if message != None %}
		{% if type == 'success' %}
			<div class = "alert alert-success">
				{{message}}
			</div>
		{% else %}
			<div class="alert alert-danger">
				{{message}}
			</div>
		{% endif %}
	{% endif %}
	<center>
		<p style="margin-top: 75px;"> Subjects for Semester {{semester_no}} </p>
	</center>
	<div id = "subjectForm" style="padding-top: 70px; padding-left: -10px;">
		<form action="{% url 'subjects' %}?user={{username}}&s_id={{semester_no}}" method="POST">	
			{% csrf_token %}
				<div class="col-xs-4">
			    	<label for="ex3">Subjects</label>
			    	<input class="form-control" type="text" name = "subject">
			    	<br>
			    	<label for="ex3">Threshold</label> 
			    	<input class="form-control" type="number" name = "threshold">
			    	<br>
			    	<label for="ex3">Subject Code</label>
			    	<input class = "form-control" type="text" name="code"/>
			    	<br>
			    	<input type="hidden" name="sem_no" value="{{semester_no}}"/>
			  	<center>
			    <div id = "buttons">
		  			<input style = "font-size: 12px;" type="submit" class="btn btn-primary" value = "Add Subject" onclick = "submitForm()">
		  			<input style = "font-size: 12px;" type="button" class="btn btn-success" value = "Finish">
		  				<!--<input style = "font-size: 12px;" type="submit" class="btn btn-success" value = "Change threshold">-->
		  		</div>
		  		</center>
		  		</div>
	  	</form>
  	</div>
{% endblock %}